{% extends "layout.html" %}
{% block content %}
  <form action="" method="post" enctype="multipart/form-data" novalidate >
    {{ form.hidden_tag() }}
  <header>
    <img width="50%" src="{{ url_for('static', filename='img/logo.png') }}"/>
    <p>Fill the parameters below.</p>
  </header>
    <p>
      {{ form.imageFile.label }} {{ form.imageFile }}
      {% for error in form.imageFile.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.mirror.label }} {{form.mirror}}  {{ form.flip.label }} {{ form.flip }}
    </p>

    <p>
      {{ form.travelSpeed.label }} {{ form.travelSpeed(size=5, value=500) }} Max value 700 mm/s
      {% for error in form.travelSpeed.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>

      {{ form.engraveSpeed.label }} {{ form.engraveSpeed(size=5, value=5) }} Max value 10 mm/s
      {% for error in form.engraveSpeed.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.whiteValue.label }} {{ form.whiteValue(size=5, value=200) }} 0 - 255
      {% for error in form.whiteValue.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
