<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>EngraveCube - {{ title }}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" media="screen and (max-width: 1200px) and (min-width: 601px)" href="{{ url_for('static', filename='css/style1.css') }}" />
		<link rel="stylesheet" media="screen and (max-width: 600px) and (min-width: 351px)" href="{{ url_for('static', filename='css/style2.css') }}" />
		<link rel="stylesheet" media="screen and (max-width: 350px)" href="{{ url_for('static', filename='css/style3.css') }}" />
    </head>
    <body>
      <div id="menuBar">
        <a href="/">Engrave</a> | <a href="/about">About</a> | <a href="credits">Credits</a> | <a href="/stream"> View Streaming </a>
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <div id="content">{% block content %} {% endblock %}</div>
    </body>
</html>
